@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
/* All Content Styles --------------------------- */

.main-wrapper {
  width: 100%;
  height: 100vh;
}

h1, p {
  margin: 0 0;
}

ul {
  list-style: none;
}

/* Main Content Styles --------------------------- */

.products-wrapper section,
.about-wrapper div {
  width: 50%;
  height: 50%;
  float: left;
  clear: right;
  box-sizing: border-box;
}

.about-wrapper div h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.about-group1 {
  background-image: url(../img/about-image.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-group2 {
  padding: 2%;
}

.about-group2 h1 {
  color: #d71921;
  font-size: 2.5em;
}

.about-group2 p {
  font-family: 'Lato', sans-serif;
  line-height: 1.7em;
  font-size: 1.5em;
  
}

.about-group3 {
  
}

.about-group4 {
  background-color: #d71921;
  
}

.table {
  display: table;
}

.social-media-content .table-cell {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.about-group4 .social-media-content {
  width: 80%;
  height: 100%;
  margin-left: 20%;
}

.media-text {
  color: #fff;
  font-size: 2.5em;
  
}

.gallery-wrapper {
  background-color: aqua;
  background-image: linear-gradient(aqua, white);
}

.slick-slider {
  margin: 0;
}

button.slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 1;
  
}

button.slick-next {
  right: 10%;
}

button.slick-prev {
  left: 10%;
}

.carousel-image {
  height: 100vh;
  width: 100%;
  display: inline-block;
}

#img {
  display: block;
  width: inherit;
  height: inherit;
  background: url(../img/img1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/*
h1.content-header {
  width: 50%;
  margin: auto;
  text-align: center;
  top: 50%;
  position: relative;
}
*/

.home-wrapper {
  background-image: url(../img/bghome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home-wrapper h1 {
  color: aliceblue;
  width: 50%;
  margin: auto;
  padding-top: 20%;
}

a {
  color: inherit;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  transition: 300ms ease-out;
}

.zoom-box {
  border: 3px solid #fff;
  top: -3px;
  left: -3px;
  transform: scale(.8);
  transition: 300ms ease-out;
  box-sizing: border-box;
}


.products-wrapper h1 {
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  font-weight: 300;
  color: aliceblue;
  position: relative;
  top: -58%;
  width: 70%;
  text-align: center;
  margin: auto;
  
}

#drinks {
  background-color: #DEDFD1;
  background-image: url(../bar.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  
}

#oysters {
  background-color: aquamarine;
  background-image: url(../oysters.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

#food {
  background-image: url(../food.jpg);
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#music {
  background-image: url(../music.jpg);
  background-color: bisque;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
}

/* Animation Effects Styles ------------------------ */

.fadeout {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

section .grow {
  width: 100%;
  height: 100%;
  transition: linear;
}

/* Media Queries ---------------------------------- */

@media screen and (max-width: 768px) {
  .products-wrapper section {
    width: 100%;
    height: 25%;
    float: none
  }
  
  
  
  a {
    text-decoration: none;
  }
  
  #music {
    
  }
}